/* Phần "nút" scrollbar */
.categories::-webkit-scrollbar {
  width: 6px;
}

.categories::-webkit-scrollbar-thumb {
  background-color: #92929d;
  border-radius: 5px;
}

.categories {
  margin-top: 90px;
  margin-left: 220px;
  padding: 20px;
  padding-bottom: 120px;
  height: calc(100vh - 90px);
  overflow-y: auto;
  color: #fff;
}
