/* =================  Music Player =================  */
.music-player {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: auto;
  bottom: 0;
  left: 0;
  height: 90px;
  color: #fff;
  background-color: #17171d;
  z-index: 999;
}

.music-player .btn {
  background-color: transparent;
  color: currentColor;
  border: none;
}

/* =================  Music Player Left =================  */
.music-player .left {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 30%;
  gap: 10px;
}

.music-player .left .song-info img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
}

.music-player .left .description h3 {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px 0;
}

.music-player .left .description h5 {
  color: #818c9a;
  padding: 5px 0;
  font-size: 1.2rem;
}

.music-player .left .interact i {
  font-size: 2rem;
  padding: 5px;
}

.music-player .left .like-btn .bxs-heart {
  display: none;
}

.music-player .left .like-btn.active .bx-heart {
  display: none;
}

.music-player .left .like-btn.active .bxs-heart {
  display: inline;
  color: #f72585;
}

/* =================  Music Player Center =================  */
.music-player .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}
.music-player .center .player-actions .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px;
}

.music-player .center .player-actions .buttons .btn1:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #f72585;
}

.music-player .center .player-actions .buttons .btn1.active {
  color: #f72585;
}

.music-player .center .player-actions .btn i {
  font-size: 2rem;
  padding: 5px;
}

.music-player .center .player-actions .pause-play i {
  font-size: 2.7rem;
}

.music-player .center .pause-play .bx-play-circle {
  display: inline;
}

.music-player .center .pause-play .bx-pause-circle {
  display: none;
}

.music-player .center .pause-play.active .bx-play-circle {
  display: none;
}

.music-player .center .pause-play.active .bx-pause-circle {
  display: inline;
  color: #f72585;
}

.music-player .center .player-actions .btn.active {
  color: #f72585;
}

.music-player .center .progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  color: #fff;
  font-size: 1.4rem;
  width: 100%;
}

.music-player .center .progress .current-time {
  width: 50px;
}

.music-player .center .progress .progress-bar {
  height: 5px;
  appearance: none;
  background: linear-gradient(to right, #f72585 0%, #f72585 0%, #fff 0%, #fff 100%);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.progress .progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 2px solid #1e1e23;
  border-radius: 50%;
}

/* =================  Music Player Right =================  */
.music-player .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  width: 30%;
}

.music-player .right .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.music-player .right .buttons i {
  font-size: 2rem;
  padding: 5px;
}

.music-player .right .btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.music-player .right .btn .volume-bar {
  height: 5px;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
}

.music-player .right .btn .volume-bar::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: linear-gradient(to right, #f72585 0%, #f72585 0%, #fff 0%, #fff 100%);
  border: 2px solid #1e1e23;
  border-radius: 50%;
}

.music-player .right .btn .bxs-playlist.active {
  background-color: #f72585;
  border-radius: 5px;
}

/* =================  Music Player Playlist =================  */
.hidden {
  display: none !important;
}

.music-player .playlist-sidebar {
  position: fixed;
  top: 0px;
  bottom: 90px;
  right: -300px;
  width: 300px;
  background-color: #1a1a2e;
  color: #fff;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease;
  z-index: 1;
  overflow: hidden;
}

.music-player .playlist-sidebar.show {
  right: 0;
}

.music-player .playlist-sidebar .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player .playlist-sidebar .sidebar-header .buttons {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
}

.music-player .playlist-sidebar .sidebar-header .buttons:first-child {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px 0 0 20px;
  padding: 10px 20px;
}

.music-player .playlist-sidebar .sidebar-header .btn {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.music-player .playlist-sidebar .sidebar-header .btn:hover {
  text-shadow: 0 0;
}

.music-player .playlist-sidebar .sidebar-header .btn.active {
  color: #f72585;
  border-radius: 20px;
}

.music-player .playlist-sidebar .sidebar-content {
  margin-top: 20px;
  height: calc(100vh - 180px);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.music-player .playlist-sidebar .sidebar-content .section {
  flex: 1;
  overflow-y: auto;
}

.music-player .playlist-sidebar .sidebar-content .lyrics {
  margin-right: 5px;
}

/* =================  Scrollbar Lyrics & Comment ================= */
#lyrics::-webkit-scrollbar {
  width: 7px;
}

#lyrics::-webkit-scrollbar-thumb {
  background-color: #92929d;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
}

#lyrics::-webkit-scrollbar-track {
  background-color: transparent;
}

/* =================  Lyrics =================  */

/* =================  Playlist =================  */
/* Sidebar content scroll */
.playlist-list {
  max-height: 300px; /* chiều cao tối đa */
  overflow-y: auto;
  padding-right: 5px;
}

/* Scrollbar tuỳ chỉnh */
.playlist-list::-webkit-scrollbar {
  width: 6px;
}
.playlist-list::-webkit-scrollbar-thumb {
  background: rgba(247, 37, 133, 0.5);
  border-radius: 3px;
}
.playlist-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.playlist-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s;
}

.playlist-item:hover {
  background: rgba(247, 37, 133, 0.1);
}

.playlist-item.active {
  background: rgba(247, 37, 133, 0.2);
}

.playlist-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.playlist-item-info {
  display: flex;
  flex-direction: column;
}

.playlist-item-title {
  font-weight: 600;
  color: #fff;
  font-size: 1.3rem;
}

.playlist-item-singer {
  font-size: 1rem;
  color: #ccc;
}
