* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #f72585;
  --secondary-color: #1a1a2e;
  --dark-theme-color: var(--secondary-color);
  --text-color: #fff;
  --text-secondary: #ccc;
  --bg-color: #17171d;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  height: 100%;
  overflow: hidden;
  background: var(--dark-theme-color);
}

/* ================= common ================= */
a {
  text-decoration: none;
  color: #fff;
}

i {
  color: inherit;
  cursor: pointer;
}

img {
  object-fit: cover;
}

/* ================= Discover =================  */
main .main-content .suggestion .wrapper {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .main-content .suggestion .wrapper .item {
  margin-top: 20px;
}

main .main-content .suggestion .wrapper .item .media {
  display: flex;
  align-items: center;
}

main .main-content .suggestion .wrapper .item .media .song-info {
  margin-left: 10px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

main .main-content .suggestion .wrapper .item .media .song-info:hover {
  color: #f72585;
}

main .main-content .suggestion .wrapper .item .media .song-info .song-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.song-info .song-title:hover {
  color: #f72585;
}

main .main-content .suggestion .wrapper .item .media .song-info .subtitle {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-secondary);
}

main .main-content .suggestion .wrapper .item .media .song-info .subtitle:hover {
  color: #f72585;
}

main .main-content .suggestion .wrapper .item .media .song-info .subtitle .singer {
  font-size: 1.3rem;
  color: var(--text-secondary);
}

main .main-content .suggestion .wrapper .item .media .song-info .subtitle .singer:hover {
  color: #f72585;
  text-decoration: underline;
}

main .main-content .suggestion .wrapper .item .media .song-thumb img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

main .main-content .artist-playlist .subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-secondary);
  margin-bottom: 5px;
  cursor: default;
}

main .main-content .artist-playlist .title a:hover {
  color: #f72585;
}

main .main-content .artist-playlist .wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

main .main-content .artist-playlist .wrapper .item .card .card-image img {
  width: 210px;
  margin-bottom: 10px;
}

main .main-content .artist-playlist .wrapper .item .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main .main-content .artist-playlist .wrapper .item .card .card-content .card-title {
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

main .main-content .artist-playlist .wrapper .item .card .card-content .card-title:hover {
  color: #f72585;
}

main .main-content .artist-playlist .wrapper .item .card .card-content .card-title a {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}

main .main-content .artist-playlist .wrapper .item .card .card-content .card-title a:hover {
  color: #f72585;
}

main .main-content .artist-playlist .wrapper .item .card .card-content .card-subtitle a {
  font-size: 1.4rem;
  color: var(--text-secondary);
  font-weight: 500;
}

main .main-content .artist-playlist .wrapper .item .card .card-content .card-subtitle a:hover {
  color: #f72585;
  text-decoration: underline;
}

/* =================  Responsive =================  */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  header .header {
    left: 0;
    width: 100%;
  }

  main .main-content {
    margin-left: 0;
  }

  .music-player .center .progress input {
    width: 100%;
  }

  .music-player .left,
  .music-player .right {
    display: none;
  }

  .music-player .center {
    width: 100%;
  }
}
